<html>
    <head>
        <title>Specialist Info</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../public/style.css">
    </head>
    <body class="specBody">
         <%- include('partials/header.ejs') %>
        <% for(let count=0; count< SpecList.length; count++){ %>
        <div class="card" style="width: 31rem;margin-right: 1cm; margin-left: 5.5cm; margin-top: 2cm; float: left;">
            <img style="height: 8cm;" class="card-img-top" src="../public/thomas-thekkekandam-300x374.jpg" alt="Card image cap">
            <div style="height: 7cm;" class="card-body">
              <h5 class="card-title" id="currentValue"><%= SpecList[count].name %></h5>
              <p class="card-text"><label for="Qualifications">Qualifications:&nbsp;&nbsp;</label><%= SpecList[count].field %></p>
              <p class="card-text"><%= SpecList[count].intro %></p>
              <a href="spec/book-appointment/<%= SpecList[count]._id %>" class="btn btn-primary">Book Appointment</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="spec/add-review/<%= SpecList[count]._id %>" class="btn btn-primary">Add a review</a>
              <br><br>
              <a href="spec/reviews/<%= SpecList[count]._id %>" class="btn btn-primary">Check Reviews</a>
            </div>
          </div>
          <% } %>
          &nbsp;
    </body>
</html>