<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../public/style.css">
        <link rel="stylesheet" href="@fortawesome/fontawesome-free/css/all.min.css">
</head>
<body>
    
    <main>
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <h1><%= title %></h1>
                <br>        
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr class="d-flex">
                        <th class="text-center col-2">Name</th>
                        <th class="text-center col-3">Email</th>
                        <th class="text-center col-2">Day</th>
                        <th class="col-2">Time</th>
                       
                    </tr>
                </thead>
                <tbody>
                    <!-- Repeatable Template Row-->
                    <% for(let count=0; count< MediList.length; count++){ %>
                     <tr class="d-flex">
                         <td class="text-center col-2">
                             <%= MediList[count].name %>
                         </td>
                         <td class="text-center col-3">
                             <%= MediList[count].myemail %>
                         </td>
                         <td class="text-center col-2">
                             <%= MediList[count].day %>
                         </td>
                         <td class="col-2">
                             <%= MediList[count].time %>
                         </td>
                        
                     </tr>
                     <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</body>
</html>